* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --clr-1: #d946ef;
  --clr-2: #fff;
  --clr-3: #111827;
  --clr-4: #2563eb;
  --clr-5: #e5e7eb;
  --ff-1: "DM_Sans-Regular", sans-serif;
  --ff-2: "DM_Sans-Bold", sans-serif;
  --ff-3: "DM_Sans-Medium", sans-serif;
  --ff-4: "Rubik-Regular", sans-serif;
  --ff-5: "Rubik-Regular", sans-serif;
}

body {
  font-family: var(--ff-1);
  font-weight: 400;
  background: var(--clr-3);
  color: var(--clr-2);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.page-container {
  max-width: 1470px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
